<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>MF | Post</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body>
<div class="container h-100 mx-auto d-flex align-items-center">
    <div class="card text-center mx-auto shadow-lg" style="width: 50rem;">
        <div class="card-header">
            <h1 class="fw-light text-center pt-3 pb-3">Пост</h1>
        </div>
        <div class="card-body">
            <p th:each="post : ${post}">
                <p th:text="${post.getId()}"></p>
                <p th:text="${post.getTitle()}"></p>
                <p th:text="${post.getMini_text()}"></p>
                <p th:text="${post.getText()}"></p>
                <p th:text="${post.getLikes()}"></p>
                <p th:text="${post.getViews()}"></p>
                <p th:text="${post.getOwner().getId()}"></p>
                <p th:text="${post.getCreate_date()}"></p>
                <p th:text="${post.getUpdate_date()}"></p>
            </p>
        </div>
    </div>
</div>
<footer class="pt-3 border-top fixed-bottom shadow-lg">
    <p class="text-center text-body-secondary">© 2023 MyFriends By Gotsa</p>
</footer>
</body>
</html>