<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title th:text="${username}">MF |</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/bootstrap.css">
    </head>
    <body>
        <table border="3">
            <p th:each="user : ${user}">
                <tr>
                    <td th:text="${user.getId()}">1</td>
                    <td th:text="${user.getUsername()}">1</td>
                    <td th:text="${user.getPassword()}">1</td>
                    <td th:text="${user.getEmail()}">1</td>
                    <td th:text="${user.getFirst_name()}">1</td>
                    <td th:text="${user.getLast_name()}">1</td>
                    <td th:text="${user.getTel()}">1</td>
                    <td th:text="${user.getAddress()}">1</td>
                    <td th:text="${user.getRole()}">1</td>
                    <td th:text="${user.getStatus()}">1</td>
                    <td th:text="${user.getEnabled()}">1</td>
                    <td th:text="${user.getVerified()}">1</td>
                    <td th:text="${user.getCreate_date()}">1</td>
                    <td th:text="${user.getAbout()}">1</td>
                    <td th:text="${user.getB_day()}">1</td>
                </tr>
                <tr th:each="posts: ${user.posts}">
                    <td>---</td>
                    <td>---</td>
                    <td th:text="${posts.getId()}">1</td>
                    <td th:text="${posts.getLikes()}">1</td>
                    <td th:text="${posts.getViews()}">1</td>
                    <td th:text="${posts.getTitle()}">1</td>
                    <td th:text="${posts.getMini_text()}">1</td>
                    <td th:text="${posts.getText()}">1</td>
                    <td th:text="${posts.getCreate_date()}">1</td>
                    <td th:text="${posts.getUpdate_date()}">1</td>
                    <td th:text="${posts.getOwner().getId()}">1</td>
                </tr>
            </p>
        </table>
        <footer class="pt-3 border-top fixed-bottom shadow-lg">
            <p class="text-center text-body-secondary">© 2023 MyFriends By Gotsa</p>
        </footer>
    </body>
</html>